@import "scss/functions";

@import "scss/variables";
@import "scss/mixins/_breakpoints";
@import "bootstrap-rtl.min.css";
@import "scss/mixins/_transition";

@import "icons.css";

$minColor: #1F2B6A;
اh1, h2, h3, h4, h5, h6 {
  color: $minColor;
}

@font-face {
  font-family: 'cocon';
  src: url("../fonts/CoconNextArabicLight.eot");
  src: url("../fonts/CoconNextArabicLight.eot") format("embedded-opentype"), url("../fonts/CoconNextArabicLight.woff2") format("woff2"), url("../fonts/CoconNextArabicLight.woff") format("woff"), url("../fonts/CoconNextArabicLight.ttf") format("truetype"), url("../fonts/CoconNextArabicLight.svg#CoconNextArabicLight") format("svg");
}

body {
  font-family: cocon;
}

.btn-info {
  background: #00EEC6;
  border-color: #00EEC6;
  padding-top: 2px;
  padding-bottom: 2px;
  color: #212529;
}

.text-primary {
  color: $minColor !important;
}

.btn-outline-success {
  border-color: #008095 !important;
  color: #008095 !important;

  i:before {
    color: #008095 !important;
  }
}

.btn-outline-success:hover {
  background-color: #008095 !important;

  color: #fff !important;

  i:before {
    color: #fff !important;
  }
}

.btn-primary {
  background: $minColor !important;
  border-color: $minColor !important;

}

.btn-primary:hover {
  color: $minColor !important;
  border-color: $minColor !important;
  background: transparent !important;

  i:before {
    color: $minColor !important;
  }
}

.border-rd {
  background: #008095;
  border-radius: 25px;
  padding: 10px 30px;
  border-color: #008095;
  color: #fff;
}

div {
  width: auto;
  @include media-breakpoint-between(lg, md) {

  }
}

body {
  text-align: right;
  padding-top: 80px;
  width: 100%;
  @media screen and (max-width: 780px) {
    padding-top: 60px;

  }
}

.header {
  @media screen and (max-width: 780px) {
    height: auto;
  }
  height: 80px;
  line-height: 45px;
  box-shadow: 0px 0px 5px #ccc;
  z-index: 99999999;
  background-color: #fff;
  position: fixed;
  top: 0px;
  width: 100%;
  transition: 0.3s ease-in-out;

  &.fixed {
    top: -80px;
  }

  button:focus {
    outline: none;
  }

  .navbar {
    .navbar-toggler-icon {
      position: relative;

      &:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-image: url(../img/more.svg);
        background-position: center;
        background-size: contain;
        left: 0;
        right: 0;
        margin: auto;
      }
    }

    .navbar-nav {
      background: #fff;
      @media screen and (max-width: 950px) {
        padding: 15px;
      }
    }

    .btn-search {
      background: $minColor;
      position: absolute;
      right: 0;
      height: 100%;
      border-radius: 0 5px 5px 0;
      transition: 0.3s ease-in-out;
      color: #fff;

    }

    .form-control {
      border-color: $minColor;
      font-size: 12px;
      width: 220px;
      @media screen and (max-width: 1200px) {
        width: 100px;
      }
      @media screen and (max-width: 780px) {
        width: 100%;
      }
    }

    a {
      margin-left: 15px;
      font-size: 14px;
      color: $minColor;
      //font-weight: bold;
      span.icon {
        margin-right: 8px;
      }

      span.text {

      }

    }

    .btn-primary {
      border-radius: 25px;
      padding: 0 25px;
      color: #fff;
      font-weight: bold;
      margin-top: 10px;
      transition: 0.3s ease-in-out;

      &:hover {
        color: $minColor;

      }
    }

    .dropdown-menu {
      text-align: right;
      padding: .5rem 12px;
      min-width: 13rem;

      a {
        margin-left: 0;

        .icon {
          font-size: 16px;
          margin-right: 5px;
        }

        .number {
          border-radius: 50%;
          padding: 3px;
          float: right;
          background: #00CDF2;
          height: 25px;
          width: 25px;
          text-align: center;
          line-height: 20px;
          margin-top: 11px;
          color: #fff;
          font-weight: bold;
        }
      }
    }
  }

  .dropdown-menu {
    left: auto;
    right: 0;
    padding: .5rem 12px;
    min-width: 13rem;
    top: calc(100% + 8px);
    border-radius: 0;
  }
}

a:hover {
  text-decoration: none;
}

.carousel-indicators li {
  width: 10px;
  border-radius: 50%;
  height: 10px;
}

.slideshow {
  img {
    object-fit: cover;
    height: 400px;
    width: 100%;
  }
}

section.slider {
  position: relative;

  .carousel-item {
    position: relative;

    img {
      object-fit: cover;
      @media screen and(max-width: 780px) {
        height: 300px;

      }
    }

    h1 {
      font-size: 42px;
    }

    .item-content-slider {
      text-align: right;
      padding-right: 25px;
      position: absolute;
      z-index: 10;
      width: 80%;
      color: #fff;
      top: 40%;
      -ms-transform: translateY(-45%);
      transform: translateY(-45%);

      h1 {
        font-size: 52px;
        color: #F9F9F9;
        @media screen and(max-width: 780px) {
          font-size: 26px;
        }
      }

      div.sub-text {
        color: #F9F9F9;
        font-size: 24px;
      }

    }
  }

  .container.content-form {
    position: absolute;
    height: 100%;
    margin: auto;
    right: 0;
    left: 0;
  }

  .form-adv-search {

    background: rgba(63, 73, 126, 0.7);
    padding: 15px;
    position: absolute;
    z-index: 10;
    top: 62%;
    left: 15px;

    input {
      color: #3F497E;
      border-radius: 3px;
    }

    .btn-search {
      background: #00CDF2;
      border-radius: 25px;
      padding: 5px 15px;
      color: $minColor;

      &:hover {
        color: #00CDF2;
        border: 1px solid #00CDF2;
        background-color: floralwhite;
      }

    }

    @include media-breakpoint-down(lg) {
      width: 100%;
      left: 0 !important;
      right: 0 !important;
      position: absolute;
      top: auto;
      bottom: 0;
      transform: translateY(98%);
      background-color: $minColor;
    }
  }
}

.section22 {
  @include media-breakpoint-down(lg) {
    margin-top: 106px;
  }
}

.form-control:focus, .btn-primary.focus, .btn-primary:focus {
  border-color: transparent;
  outline: none;
  box-shadow: none;
}

html {
  overflow-x: hidden;
}

.carousel-control-next, .carousel-control-prev {
  width: 50px;
}

//section 2
.head-section {

  h2 {
    font-size: 28px;
    color: $minColor;
  }

  p {
    font-size: 14px;
    color: #808080;
  }
}

.item-place {
  &.shadow {
    box-shadow: 0px 0px 5px #e8e8e8 !important;
  }

  img {
    object-fit: cover;
    height: 150px;
    width: 100%;
  }

  .title {
    color: $minColor;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

  }

  .date-time {
    margin: 10px 0;
    color: #808080;
  }

  .text-info {
    margin-top: 15px;
  }

  .reviwews, .from {
    font-size: 13px;
    color: #768092;
  }

  .number {
    font-size: 15px;
    color: #008095;
    letter-spacing: 0px;
    font-weight: bold;
  }

  .content-item {
    height: 195px;
    position: relative;
    margin-bottom: 15px;

    .footer-item {
      position: absolute;
      bottom: 10px;
      width: 87%;
      margin: auto;
      align-items: flex-end;

      .number-old {
        font-size: 14px;
        color: $gray-700;
        font-weight: 500;
        text-decoration: line-through;
      }

      @media screen and (max-width: 780px) {
        width: 100%;
        margin: auto;
        position: relative;
        padding-top: 15px;
      }
    }
  }
}

//%fff{
//color:#fff;
//}
//div{@extend %fff;}

.section-3 {
  padding: 10px 0;

  .sa-row {
    overflow: auto;
    padding: 15px;
    justify-content: center;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    .sa-5 {
      text-align: center;
      width: 20%;
      -ms-flex: 0 0 20%;
      flex: 0 0 20%;
      padding: 0 15px;

      .icon {
        font-size: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .title-s-3 {
        font-size: 18px;
        padding: 10px;
        color: #A2A2A2;
      }

      @media screen and (max-width: 780px) {
        width: 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        margin-top: 20px;
      }
    }
  }
}


section.section-5 {
  background: #008095;
  color: #fff;
}

section.section-8 {
  background: #BCF6FF;
  color: $minColor;

  p {
    margin-bottom: 0;
  }
}

section.section-6 {
  .item-big {
    img {
      height: 320px;
    }

    background: #BCF6FF;
    height: 100%;

    .content-item-big {
      padding: 86px 60px;
    }

    h1 {
      color: $minColor;
    }

    p {
      color: #3F497E;
    }

    .btn {
      color: $minColor;
      border-color: $minColor;
      font-weight: bold;
      border-radius: 25px;
      border: 2px solid;
    }
  }
}

.section9 {
  .container > p {
    font-size: 13px;
  }

  .content-sub {
    background: #BCF6FF;
    height: 100%;
    padding: 50px 20px;

    h1 {
      color: $minColor;

    }

    form {
      margin-top: 35px;
    }

    .btn {
      background: #008095;
      border-radius: 25px;
      color: #fff;
      @media screen and (max-width: 768px) {
        margin-top: 20px;
      }
    }
  }
}

//SECTION 10
section.section-10 {
  .item-city {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
    position: relative;
    margin-bottom: 25px;

    h1 {
      color: #fff;
      font-size: 64px;
      margin-bottom: 30px;
    }
  }

  .btn-sa-city {
    background: rgba(63, 73, 126, 0.70);;
    padding: 10px 25px;
    color: #fff;
    border-radius: 0;
    font-size: 29px;

  }
}

//footer
footer {
  background: $minColor;
  @media screen and(max-width: 780px) {
    padding: 20px;
  }

  label {
    color: #fff;
    font-weight: bold;
  }

  @media screen and(max-width: 780px) {
    label[for="Language"] {
      margin-top: 20px;
    }
  }

  ul {
    list-style: none;
    @media screen and (max-width: 780px) {
      padding: 0;
    }

    li {
      margin-bottom: 10px;
      padding: 5px 0;

      a {
        color: #fff;

        &:hover {
          color: #f2f2f2;

        }
      }
    }

  }

  .title-pay {
    color: #fff;
  }

  .list-socil {
    li {
      margin-bottom: 0;
      margin-left: 15px;
      margin-right: 15px;

      &:last-child {
        margin-left: 0;
      }

      a span {
        color: #fff;

        &:before {
          color: #fff;
        }
      }
    }
  }

  .rights {
    color: #fff;
    font-size: 14px;
  }
}

.section-good-t-know {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      position: relative;
      padding-left: 20px;
      margin-bottom: 15px;

      span.icon {
        position: absolute;
        left: 0;
        top: 3px;
        font-size: 18px;
        color: $minColor;

        &:before {
          color: $minColor;
        }
      }

      span.text {
        margin-left: 10px;
        display: block;
      }
    }
  }
}

.commint-item {
  margin-bottom: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ccc;

  h5 {
    color: $minColor;
    position: relative;
    font-size: 18px;

    span {
      position: absolute;
      right: 0;
      font-size: 14px;
      color: #768092;
      @media screen and(max-width: 780px) {
        position: relative;
        display: block;
        margin-top: 10px;
      }
    }
  }

  .img {
    margin-right: 10px;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }
}

ul.wish-list {
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    margin-bottom: 20px;
    padding: 10px;
    padding-bottom: 50px;
    position: relative;
    overflow: auto;
    width: 100%;
    box-shadow: 0px 0px 5px #f0f0f0;

    .img {
      float: left;

      img {
        width: 200px;
        height: 150px;
        object-fit: cover;
        margin-right: 10px;
        @media screen and(max-width: 960px) {
          width: 100%;
          display: block;
          margin-bottom: 20px;
        }
      }
    }

    .text-list {
      float: left;
      width: 70%;

      h4 {
        font-size: 18px;
        margin-bottom: 20px;
        color: $minColor;
      }

    }

    .link-del {
      position: absolute;
      right: 20px;
      top: 20px;
    }

    .price {
      text-align: right;
      position: absolute;
      bottom: 20px;
      right: 20px;

      .the-price {
        color: #008095;
        font-weight: bold;
        font-size: 20px;
        margin-left: 10px;
      }

      .old-pric {
        position: relative;

        &:before {
          content: '';
          position: absolute;
          height: 1px;
          width: 100%;
          top: 50%;
          background: $minColor;
        }
      }

    }
  }

}

#accordionHelp {
  .card {
    border: none;
  }

  .card-header {
    background: #fff;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 15px 0;
    margin-bottom: 0;
  }

  button {
    display: block;
    width: 100%;
    text-align: right;
    color: #3F497E;
    font-weight: 400;
    font-size: 14px;

    i {
      font-size: 10px;
      display: block;
      margin-top: 7px;
      transition: 0.4s;
    }

    &[aria-expanded='true'] {
      i {
        transform: rotate(180deg);

      }
    }
  }
}

.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: none;
}

.rd {
  border-radius: 30px;
}

.box-left-search {
  background: #3F497E;
  padding: 30px;
  color: #fff;

  h4 {
    font-size: 18px;
    color: #fff;
  }

  .sub-search {
    background: #00eec6;
    color: $minColor;
    border: none;

  }
}

.about-tour {
  list-style: none;

  li {
    margin-bottom: 25px;

    position: relative;

    span {
      position: absolute;
      margin-left: -25px;
      top: 5px;
    }
  }
}

.box-date-text {
  background: $minColor;
  padding: 25px 15px;

  h4 {
    color: #fff;
  }

  select, input[type='text'] {
    position: relative;
    color: $minColor;
    border: none;
  }

  .input-group-text {
    background: #fff;
    border: none;

    &:before {
      color: $minColor;
    }

  }

  .btn-block.btn-info {
    background: #00CDF2;
    border-color: #00CDF2;
    color: #fff;
  }
}

.experiences table {
  color: #3F497E;

  td:first-child {
    width: 30%;
  }

  td, th {
    border-top: none;
    border-bottom: 1px solid #dee2e6;
    padding: 30px 10px;

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }
  }
}

.progress {
  background-color: #D0FFF7;
}

.progress-bar {
  background-color: #008095;
}

.form-inline .custom-control-label {
  font-size: 16px;
  font-weight: bold;
  color: #768092;
}

input[type="checkbox"]:checked + .custom-control-label {

  color: $minColor;
}

input[type="radio"]:checked + .custom-control-label {

  color: $minColor;
}

.rating-commints {
  .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after, .custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before {
    display: none;
  }

  .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before, .custom-control-label::after {
    display: none !important;
  }
}

.custom-control-label::after, .custom-checkbox .custom-control-label::before {
  display: none !important;
}

.item-commint {
  @media screen and(max-width: 780px) {
    padding: 15px;
  }
  border-top: 1px solid #ccc;

  &:last-child {
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
  }

  padding: 20px 0;

  .img-title {
    overflow: auto;
    margin-top: 10px;

    .img {
      float: right;
      width: 50px;
      height: 50px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }

    .reviwed {
      float: right;
      margin-right: 10px;

      p {
        margin: 0;
      }
    }
  }

  .position-absolute {
    right: 0;
    top: 15px;
    color: #768092;
    @media screen and(max-width: 780px) {
      position: relative !important;
    }
  }
}

.btn-outline-more {
  border: 2px solid #0c5460;
  padding: 5px 15px;
  color: $minColor;
}

.fexd-box {
  background: #D0FFF7;
  border: 2px solid #008095;
  padding: 7px 20px;
  border-top: 5px solid #008095;

  a {
    color: #fff;
    background-color: #008095;
    border-color: #008095;
  }

  &.fixed {
    position: fixed;
    top: 96px;
    width: 350px;
    @media screen and (max-width: 780px) {
      position: static;
      width: auto;
    }
  }
}

.stars {
  i {
    color: #FFBD0B;
  }
}

.box-under-check {
  border: 1px solid #1f2b6a;
  padding-top: 15px;
  color: #707070;
}

.text-info {
  color: #008095;
}

.hide {
  display: none;
}

.list-users-card {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;

  li {
    width: 100%;
    background: #fff;
    padding: 7px 15px;
    border-radius: 3px;
    position: relative;
    @media screen and (max-width: 790px) {
      margin-top: 15px;
      margin-bottom: 15px;
    }

    a {
      color: $minColor;
      display: block;
    }

    ul {
      &.open {
        display: block;
        opacity: 1;
        background: #fff;
        box-shadow: 0px 0px 5px #ccc;

        .col-sm-4 {
          width: 33%;
        }

        .col-sm-8 {
          width: 67%;
        }
      }

      box-shadow: 0px 0px 1px #f5f5f5;
      display: none;
      opacity: 0;
      position: absolute;
      position: absolute;
      width: 100%;
      padding: 0;
      margin: 0;
      list-style: none;
      left: 0;
      z-index: 9;
      top: 36px;
      border-top: 1px solid #ccc;

      li {
        padding: 15px 5px;
        border-radius: 0;

        &:hover {
          background: #f9f9f9;
        }

        h5 {
          margin: 0;
          font-size: 16px;
        }

        .munos, .plus {
          width: 20px;
          background: transparent;
          border: none;
          box-shadow: none;
          font-size: 24px;
          text-align: center;
          padding: 0;

        }

        input {
          width: 40px;
          height: 40px;
          text-align: center;

        }

        input[type="checkbox"] {
          width: 15px;
          height: 15px;
          margin-right: 8px;
        }
      }
    }
  }
}

.form-inline {
  .form-group:first-child {
    margin-bottom: 0;
  }
}

button:focus {
  outline: none;
}

.bg-info {
  background: #D0FFF7 !important;
}

.item-total {
  .total {
    color: #3F497E;
    font-size: 18px;
  }

  border: 3px solid #008095;
  border-top: 6px solid #008095;

  h4 {
    color: #008095;
    font-size: 18px;
    margin-bottom: 0;

    & + p {
      font-size: 14px;
      color: #A2A2A2;
    }
  }

  .content-item {
    height: auto;
  }
}

.btn-info2 {
  background: #008095;
  border-radius: 25px;
  color: #fff;

}

.custom-control-label::before {
  position: absolute;
  top: .25rem;
  left: -1.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  content: "";
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #dee2e6;
}

.custom-checkbox .custom-control-label::before {
  border-radius: .25rem;
}

.custom-control-label::before, .custom-file-label, .custom-select {
  transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.custom-control-label::after {
  position: absolute;
  top: .25rem;
  left: -1.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  content: "";
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-control-label:before {
  position: absolute;
  top: .25rem;
  left: -1.5rem;
  display: block !important;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  content: "" !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #dee2e6;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  background-color: $minColor;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: $minColor;
}

.box-total-price {
  border-top: 3px solid $minColor;
  padding-top: 20px;
}

.message-top {
  border-top: 3px solid $minColor;
  padding: 20px;
  background: #BCF6FF;
  font-size: 14px;
}

.season-item {

  display: -webkit-box;
  border-bottom: 1px solid #E8E9EC;
  @media screen and (max-width: 780px) {
    display: block;
  }

  .img-item {
    margin-right: 15px;
    width: 100px;
    height: 100px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 7px;

    }

  }

  .text-item {
    width: calc(100% - 150px);

    p {
      color: #768092;
      font-size: 14px;

    }

    .language-item {
      color: #3F497E;

    }
  }

  @media screen and (max-width: 780px) {
    .img-item {
      width: 100%;
      height: 200px;
    }
    .text-item {
      width: 100%;
      margin-top: 16px;
      padding: 20px;
    }
  }

  .setting-item {
    padding: 10px 0;
    font-size: 14px;
    font-weight: 500;
    margin-top: 15px;

    a {
      color: $minColor;
      padding-right: 10px;
      border-right: 2px solid #768092;

      &:last-child {
        border-right: none;
        padding-left: 10px;
      }
    }
  }
}

.footer-total {
  .invite {
    color: #768092;
  }

  .the-total {
    h5 {
      color: #808080;
    }

  }
}

.box-right-total-card {
  border: 1px solid $minColor;
  border-top: 3px solid;
  padding: 15px;
}

.recommended-item {
  margin: 10px;
  box-shadow: 0px 0px 5px #f0f0f0;
  padding: 10px;
  display: -webkit-box;
  border: none;

  .img-item {
    width: 70px;
    height: 70px;
    overflow: hidden;
    margin-right: 15px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .text-right-item {
    width: calc(100% - 90px);
  }
}

.head-about {
  height: 500px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #424242;
}

.content p {
  text-align: justify;
  color: $minColor;
}

.slider-about {
  .icon-go-left {
    color: $minColor;
  }

  .carousel-control-next {
    .icon-go-left {
      transform: rotate(180deg);
    }
  }

  h5 {
    color: #768092;

  }

  p {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 16px;
    text-align: center;
  }

}


.btn-outline-primary {
  color: $minColor;
  border-color: $minColor;
}

.btn-outline-primary:hover {
  color: #fff !important;
  background-color: $minColor;
  border-color: $minColor;
}

.text-light {
  color: #D3D3D4 !important;
}

.bg-dark-white {
  background: #E8E9EC;
}

.apply-supplier .form-control:focus, .apply-supplier .btn-primary.focus, .apply-supplier .btn-primary:focus {
  border-color: #ccc;
}

.required {
  position: relative;

  &.imp:after {
    content: 'you need to fill this input';
    position: absolute;
    left: 0;
    bottom: -5px;
    color: red;

  }
}


@media screen and (max-width: 768px) {
  .mb-xs-3 {
    margin-bottom: 15px;
  }
}

@media (min-width: 564px) {

  .slider .daterangepicker {
    width: 490px;

  }
}

.checkput {
  .form-control:focus, .btn-primary.focus, .btn-primary:focus {
    border-color: #a5a5a5;
  }
}

.parsley-errors-list {
  list-style: none;
  color: red;
  padding: 0;
  margin-top: 7px;
  font-size: 12px;
}


//arabic lang

html[dir="rtl"] {
  .header .navbar a span.icon {
    margin-left: 8px;
    margin-right: 0px;
  }

  .header .navbar .dropdown-menu a .number {
    float: left;
  }

  .header .navbar .btn-search {
    left: 0;
    right: auto;
    border-radius: 5px 0px 0 5px;
  }

  .slide .icon-go-left {
    transform: rotate(180deg);
  }

  .slider-about .carousel-control-next .icon-go-left {
    transform: rotate(0deg);
  }

  section.slider .form-adv-search {
    right: 15px;
    left: auto;
  }

  .recommended-item .img-item {

    margin-right: 0;
    margin-left: 15px;
  }

  #accordionHelp button {
    text-align: right;
  }

  .season-item .img-item {
    margin-right: 0;
    margin-left: 15px;
  }

  .recommended-item .text-right-item {
    width: calc(100% - 90px);
  }

  .section-good-t-know ul li {
    padding-left: initial;
    padding-right: 25px;

    span.icon {
      right: 0;
      left: auto;
    }

  }

  .commint-item h5 span {
    left: 0;
    right: auto;
  }

  .commint-item .img {
    margin-left: 10px;
    margin-right: 0px;
  }

  .slider {
    form {
      margin-bottom: 0;
    }
  }

  .right-box-pay {
    .col-sm-2.text-right.pr-0.pt-1 {
      text-align: right !important;
    }
  }

  ul.wish-list li .img {
    float: right;

    img {
      margin-right: 0;
      margin-left: 10px;
    }
  }

  ul.wish-list li .text-list {
    float: right;
    width: 70%;
  }

  ul.wish-list li .price {
    text-align: left;
    left: 20px;
  }

  ul.wish-list li .price .old-pric:before {
    left: 0;
  }

  ul.wish-list li .link-del {
    left: 20px;
    right: auto;
  }


  .item-commint .position-absolute {
    left: 0;
    right: auto
  }


  .list-users-card li ul li input[type="checkbox"] {
    margin-right: 0;
    margin-left: 10px;

    & + label {
      margin-bottom: 0;
    }
  }


  ul li i {
    margin-left: 3px;
  }

  .about-tour li span {
    margin-left: auto;
    margin-right: -25px;
  }


}

//end html rtl


@media (min-width: 564px) {
  .slider .daterangepicker {
    width: 490px;

  }
}

.checkput {
  .form-control:focus, .btn-primary.focus, .btn-primary:focus {
    border-color: #a5a5a5;
  }
}

.parsley-errors-list {
  list-style: none;
  color: red;
  padding: 0;
  margin-top: 7px;
  font-size: 12px;
}

@media screen and (max-width: 991px) {
  .header .navbar {
    text-align: CENTER;
  }
  section.slider .carousel-item .item-content-slider h1,
  section.slider .carousel-item .item-content-slider div.sub-text {
    font-size: 20px;
  }
  section.slider .carousel-item .item-content-slider {
    margin-left: 25px;
  }
}

@media screen and (max-width: 781px) {
  img[src="img/logo-footer.png"], .title-pay {
    display: block;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 991px) {
  .header .navbar {
    text-align: CENTER;
  }
  section.slider .carousel-item .item-content-slider h1,
  section.slider .carousel-item .item-content-slider div.sub-text {
    font-size: 20px;
  }
  section.slider .carousel-item .item-content-slider {
    margin-left: 25px;
  }
}

@media screen and (max-width: 781px) {
  img[src="img/logo-footer.png"], .title-pay {
    display: block;
    margin-bottom: 15px;
  }

}

.file-upload {
  position: relative;
  width: 200px;
  display: flex;
  align-items: center;
  margin: auto;

  span {
    margin: auto;

  }

  input {
    opacity: 0;
    display: none;
  }
}

.tooltip-inner {
  background-color: $minColor;
}

.bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-top .arrow::before {
  border-top-color: $minColor;
}

.no-resize {
  resize: none;
}

#stars {
  margin-top: 20px;
}

.rating-stars ul {
  list-style-type: none;
  padding: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.rating-stars ul > li.star {
  display: inline-block;
}

.rating-stars ul > li.star > i {
  font-size: 2.5em;
  color: #ccc;
  width: 1.28571429em;
  text-align: center;
}

.rating-stars ul > li.star.hover > i {
  color: #FFCC36;
  cursor: pointer;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i {
  color: #FF912C;
}

.success-box {
  display: none !important;
}

section {
  overflow: hidden;
}

.page-content {
  strong {
    color: $minColor;
  }

  u {
    color: $minColor;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
}

.head-about {
  position: relative;

  .m-auto {
    position: relative;
    z-index: 3;

    h1 {
      color: #fff;
    }
  }

  &:before {
    content: '';
    position: absolute;
    display: block;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
  }
}
